<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-md-12 text-left">
      <h3>Welcome</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h4>When a customer visits your website, he/she is “walking” into your store or office.</h4>
      <ul>
        <li>Wouldn’t you want to give them the same level of experience as they would receive if they walked into your physical store or office?</li>
        <li>Don’t you just hate it if you had to struggle to look for where a product or information is located?</li>
        <li>BUT — there is ONE problem — there is no live person to greet your visitors when they land on your website!</li>
        <li>So the question is: “How can I direct my visitors to the information they need without physically guiding them?”</li>
      </ul>
      <h4>What Content Should I Include on My Home Page Design?</h4>
      <p>Let’s be honest — How many times have you landed on a website, and ended up clicking the “back” button because you couldn’t find what you’re looking for in a few seconds?</p>
      <p>The fact is that most of us are conditioned to expect to find what we’re looking for in a few seconds. People are becoming more and more demanding (and impatient) nowadays.</p>
      <p class="text-bold">Your visitors will make a very simple, split second choice when they arrive on your home page – stay or leave.</p>
      <p>How you choose to lay out your home page will affect that decision — and will impact the fate of your business.</p>
      <h4>The design includes calls-to-action (CTAs)</h4>
      <p>Every homepage listed here effectively uses primary and secondary calls-to-action to direct visitors to the next logical step. Examples include "Free Trial," "Schedule a Demo," "Buy Now," or "Learn More."</p>
      <p>Remember, the goal of the homepage is to compel visitors to dig deeper into your website and move them further down the funnel. CTAs tell them what to do next so they don't get overwhelmed or lost. More importantly, CTAs turn your homepage into a sales or lead-generation engine, and not just brochure-wear.</p>
    </div>
  </div>
</div>